
body{
  background-color: darkgray;
  margin: 0;
}

header .wrapper{
  background-color: black;
  color:burlywood;
  align-self: start;
}

header img{
  width: 15em;
  float:right;
}

header a{
  color: coral;
  margin: auto;
  padding: 1em;
}
header nav{
  padding-bottom: 0.5em;
}


.one-half {
  width: 450px;
  float: left;
  margin: auto;
  padding: 1em;
  color: cornsilk;
}

.one-half p{
  font-size: 1.4em;
  color: burlywood;
}
 

.wrapper {
  width: 980px;
  margin: auto;
  border: 2px solid;
  background-color:bisque
}

.one-third{
  width: 310px;
  height: 400px;
  float: left;
  margin: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid;
  color: brown;
  font-family: Arial, helvetica, sans-serif;
  font-size: 1em;
}

.one-third h3{
  color: darkblue
}

h2{
  text-align: center;
}

h3{
  text-align: center;
  text-decoration: underline;
}

.one-third img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15%;
}

.contactsection{
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  color: darkblue;
  padding: 1px;
  margin: 1px;
}

.contactsection h3{
  color:darkred
}



.row::after{
  content: "";
  display: table;
  clear: both;
}

footer{
  background-color: rgb(5, 5, 5);
}

footer nav{
  color:burlywood;
  text-align:center;
  background-color:black;
  padding: 0.5em
}

/*
p::before {
  content: "..";
}

p::after {
  content: "..";
}
*/
